name: Build

on:
  push:
    branches:
      - main
      - develop
    tags:
      - build*
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "licenses/**"
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "examples/**"
      - "licenses/**"

env:
  GOTESTCMD: "go test -timeout 1200s --tags \"json1 sqleanall\" -v ./..."
  TESTSCRIPT: "test/python/main.py"
  GOPRIVATE: github.com/stackql/*
  GH_ACCESS_TOKEN: ${{ secrets.ACTIONS_PRIVATE_PACKAGE_SECRET }}
  PLANCACHEENABLED: "true"

jobs:

  linuxbuild:
    name: Linux Build
    runs-on: ubuntu-latest
    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go 1.x
      uses: actions/setup-go@v3
      with:
        go-version: ^1.19
        check-latest: true
        cache: true
      id: go
    
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        cache: pip
        python-version: '3.11' 
    
    - name: Git Ref Parse
      id: git_ref_parse
      run: |
          {
            echo "SOURCE_NAME=${GITHUB_REF#refs/*/}"
            echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}"
            echo "SOURCE_TAG=${GITHUB_REF#refs/tags/}"
          } >> "${GITHUB_STATE}"

    - name: Set up GCC
      uses: egor-tensin/setup-gcc@v1
      id: gccsetup
      with:
        platform: x64
        cygwin: 0
    
    - name: Install psql
      run: |
          sudo apt-get update
          sudo apt-get install --yes --no-install-recommends postgresql-client

    - name: Install Python dependencies
      run: |
        pip3 install -r cicd/requirements.txt
    
    - name: Generate rewritten registry for simulations
      run: |
        python3 test/python/registry-rewrite.py
      
    - name: Get dependencies
      run: |
        git config --global "url.https://${GH_ACCESS_TOKEN}@github.com/.insteadOf" https://github.com/
        go get -v -t -d ./...
        go install golang.org/x/perf/cmd/benchstat@latest
      env:
        GH_ACCESS_TOKEN: ${{env.GH_ACCESS_TOKEN}}
        GOPRIVATE: ${{env.GOPRIVATE}}

    - name: Generate Build Flags and Build
      env:
        BUILDCOMMITSHA: ${{github.sha}}
        BUILDBRANCH: ${{github.ref}}
        BUILDPLATFORM: ${{runner.os}}
        BUILDPATCHVERSION: ${{github.run_number}}
        CGO_ENABLED: 1
        CGO_LDFLAGS: '-static'
      run: |
        source cicd/version.txt
        export BUILDMAJORVERSION="$MajorVersion"
        export BUILDMINORVERSION="$MinorVersion"
        if [[ ! "$BUILDBRANCH" == "*develop" ]]
          then
          # shellcheck disable=2269
          export BUILDPATCHVERSION="${BUILDPATCHVERSION}"
        fi
        BUILDSHORTCOMMITSHA="$(echo "${BUILDCOMMITSHA}" | cut -c 1-7)"
        export BUILDSHORTCOMMITSHA
        BUILDDATE="$(date)"
        export BUILDDATE
        echo "BUILDMAJORVERSION: ${BUILDMAJORVERSION}"
        echo "BUILDMINORVERSION: ${BUILDMINORVERSION}"
        echo "BUILDPATCHVERSION: ${BUILDPATCHVERSION}"
        echo "BUILDBRANCH: ${BUILDBRANCH}"
        echo "BUILDCOMMITSHA: ${BUILDCOMMITSHA}"
        echo "BUILDSHORTCOMMITSHA: ${BUILDSHORTCOMMITSHA}"
        echo "BUILDDATE: ${BUILDDATE}"
        echo "BUILDPLATFORM: ${BUILDPLATFORM}"

        {
          echo "BUILDMAJORVERSION=${BUILDMAJORVERSION}"
          echo "BUILDMINORVERSION=${BUILDMINORVERSION}"
          echo "BUILDPATCHVERSION=${BUILDPATCHVERSION}"
        } >> "${GITHUB_ENV}"
        python cicd/python/build.py --verbose --build
      
    - name: Test
      if: success()
      run: python cicd/python/build.py --verbose --test

    - name: Mock Server Download
      run: |
        mvn \
        org.apache.maven.plugins:maven-dependency-plugin:3.0.2:copy \
        -Dartifact=org.mock-server:mockserver-netty:5.12.0:jar:shaded \
        -DoutputDirectory=test/downloads

    - name: Create certificates for robot tests
      run: |
        openssl req -x509 -keyout test/server/mtls/credentials/pg_server_key.pem -out test/server/mtls/credentials/pg_server_cert.pem -config test/server/mtls/openssl.cnf -days 365
        openssl req -x509 -keyout test/server/mtls/credentials/pg_client_key.pem -out test/server/mtls/credentials/pg_client_cert.pem -config test/server/mtls/openssl.cnf -days 365
        openssl req -x509 -keyout test/server/mtls/credentials/pg_rubbish_key.pem -out test/server/mtls/credentials/pg_rubbish_cert.pem -config test/server/mtls/openssl.cnf -days 365
    
    - name: Prepare Test DB
      if: success()
      run: cp test/db/db.sqlite test/db/tmp/python-tests-tmp-db.sqlite

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      if: success()
      with:
        name: stackql_linux_amd64
        path: build/stackql

