name: Build

on:
  push:
    branches:
      - main
      - develop
    tags:
      - build*
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "licenses/**"
  pull_request:
    branches:
      - main
      - develop
    paths-ignore:
      - "**/*.md"
      - "docs/**"
      - "examples/**"
      - "licenses/**"

env:
  GOTESTCMD: "go test -timeout 1200s --tags \"sqlite_stackql\" -v ./..."
  TESTSCRIPT: "test/python/main.py"
  GOPRIVATE: github.com/stackql/*
  GH_ACCESS_TOKEN: ${{ secrets.ACTIONS_PRIVATE_PACKAGE_SECRET }}
  PLANCACHEENABLED: "true"

jobs:

  linuxarmbuild:
    name: Linux arm64 Build
    runs-on: arm-ubuntu-22-04-runner-one
    steps:

    - name: prepare dh-make-golang boilerplate
      env:
        pkgCompressType: 'gzip'
        pkgRoot: 'dh-make-golang'
        pkgName: 'stackql'
        pkgVersion: ${{env.BUILDMAJORVERSION}}.${{env.BUILDMINORVERSION}}.${{env.BUILDPATCHVERSION}}
        pkgArchitecture: 'arm64'
        pkgMaintainer: 'stackql'
        pkgDepends: ''
        pkgHomepage: 'https://stackql.io'
        pkgDescription: 'stackql treats the internet as a relational database'
        pkgInstalledSize: ''
        pkgOwner: '--root-owner-group'
      run: |
        mkdir -p "${pkgRoot}"
        # cd "${pkgRoot}"
        go install github.com/Debian/dh-make-golang@v0.7.0
        # sudo apt-get install -y dh-make-golang
        dh-make-golang github.com/stackql/stackql
      
    - name: Upload deb Artifact
      uses: actions/upload-artifact@v4.3.1
      if: success()
      with:
        name: arm64-dh-make-golang-source-deb
        path: |
          /tmp/golang-github-stackql-stackql
